[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"

[dev-packages]
pytest = "*"
pylint = {extras = ["astroid"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
start = "python src/main.py"
test = "pytest"
lint = "python -m pylint src"
